<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net45" />
  <package id="bootstrap.chosen" version="1.0.0" targetFramework="net45" />
  <package id="Bootstrap.Colorpicker" version="1.0.0" targetFramework="net45" />
  <package id="bootstrap.less" version="3.3.5" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker" version="4.17.45" targetFramework="net45" />
  <package id="Bootstrap.v3.Datetimepicker.CSS" version="4.17.45" targetFramework="net45" />
  <package id="bootstrap-dialog" version="3.3.4.1" targetFramework="net45" />
  <package id="chosen" version="1.2.0" targetFramework="net45" />
  <package id="chosen.jquery" version="1.2.0" targetFramework="net45" />
  <package id="ClosedXML" version="0.87.1" targetFramework="net45" />
  <package id="Common.Logging" version="2.1.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net45" />
  <package id="Iron.IronCore" version="3.0.9" targetFramework="net45" />
  <package id="Iron.IronMQ" version="3.0.13" targetFramework="net45" />
  <package id="jQuery" version="3.2.1" targetFramework="net45" />
  <package id="jquery.datatables" version="1.10.15" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net45" />
  <package id="jquery-timepicker-jt" version="1.11.11" targetFramework="net45" />
  <package id="Kendo.DynamicLinq" version="1.1.2.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Moment.js" version="2.9.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="System.Linq.Dynamic" version="1.0.7" targetFramework="net45" />
  <package id="Twitter.Bootstrap" version="3.0.1.1" targetFramework="net45" />
</packages>